body {
  margin: 0;
  box-sizing: border-box;
  background-color: #051622;
}
/* CSS for header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 125px;
}

.header .logo {
  font-size: 25px;
  color: #1ba098;
  text-decoration: none;
  margin-left: 30px;
}

.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 20px;
}

.nav-items a {
  text-decoration: none;
  color: #1ba098;
  padding: 35px 20px;
}
/* CSS for main section */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 80px;
  border-top-style: solid;
  border-color: #deb992;
}

.main img {
  width: 500px;
  max-width: 100%;
  height: auto;
  border-radius: 600px;
}

.main h2 {
  font-size: 50px;
  color: #1ba098;
  text-transform: uppercase;
  margin: 0;
  padding-right: 120px;
  text-align: center;
}

.about {
  display: flex;
  padding: 40px 80px;
  border-top-style: solid;
  border-color: #deb992;
}

.about h2 {
  font-size: 50px;
  color: #1ba098;
  text-transform: uppercase;
  margin: 0;
  padding-left: 120px;
  text-align: left;
}

.about p {
  font-size: 20px;
  color: #deb992;
  padding-left: 120px;
}

/* CSS for footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 80px;
  border-style: solid;
  border-color: #deb992;
  border-radius: 600px;
  height: 125px;
}

.footer .copy {
  color: #1ba098;
}

.bottom-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
}

.bottom-links .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.bottom-links .links span {
  font-size: 20px;
  color: #1ba098;
  text-transform: uppercase;
  margin: 10px 0;
}

.bottom-links .links a {
  text-decoration: none;
  color: #1ba098;
  padding: 10px 20px;
}