.header{
  background-color: dimgrey;
  text-align: center;
  font-size: 1.3vw;
}

.footer{
  background-color: dimgrey;
  font-size: 1vw;
  display: block;
}

.navigation{
  background-color: dimgrey;
  text-align: center;
  font-size: 1.3vw;
}

a{
  text-decoration: none;
}

.home{
  border-style: solid;
  border-radius: 100px;
  background: dimgrey;
  text-align: center;
  padding: 30px;
  font-size: 3.2vw;
  overflow: hidden;
  height: 26vw;
}

.home-content{
  height: 26vw;
  overflow: auto;
  border-radius: 100px;
  overflow-y: scroll;
}

body{
  background-color: midnightblue;
}

a:link{
  color: black;
}

a:visited{
  color: black;
}

a:hover{
  color: cyan;
}

a:active{
  color: cyan;
}

.flex{
  display: flex;
}

.center{
  justify-content:center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.nav{
  width: 23.66vw;
  border-style: none solid solid none;
  padding: 5px;
}

.navi{
  width: 23.66vw;
  border-style: none none solid none;
  padding: 5px;
}

.left-footer{
  width: 32.5vw;
  font-size: 1vw;
  padding-top: 1vw;
  text-align: center;
  border-style: solid solid none none;
  color: black;
  border-color: white;
}

.center-footer{
  width: 32.5vw;
  font-size: 1vw;
  padding-top: 2vw;
  text-align: center;
  border-style: solid solid none none;
}

.right-footer{
  width: 32.5vw;
  font-size: 1vw;
  padding-top: 2vw;
  text-align: center;
  border-style: solid none none none;
}

.section-title{
  border-style: solid;
  border-radius: 100px;
  background: dimgrey;
  text-align: center;
  font-size: 1.3vw;
  width: 32.5vw;
}

.bio{
  padding: 2vw;
  border-style: solid;
  border-radius: 100px;
  background: dimgrey;
  overflow: hidden;
  font-size: 1.2vw;
}

.small-section{
  border-style: solid;
  border-radius: 100px;
  overflow: hidden;
  font-size: 1.2vw;
  width: 25vw;
  height: 20vw;
  padding: 2vw;
}

.outie{
  padding: .5vw;
  border-style: solid;
  border-radius: 100px;
  background: dimgrey;
}

.social-section{
  border-style: solid;
  border-radius: 100px;
  overflow: hidden;
  font-size: 1.2vw;
  width: 25vw;
  height: 20vw;
  padding: 2vw;
  text-align: center;
  background-color: dimgrey;
}

.social-header{

}

.social-link{
  font-size: 2vw;
  padding: 2vw;
  border-style: solid;
  background-color: white;
  border-radius: 100px;
}

input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  float: right;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.form {
    display: inline-block;
}
